# AWS Credentials (reemplaza con tus credenciales)
aws_access_key     = "TU_ACCESS_KEY"
aws_secret_key     = "TU_SECRET_KEY"
aws_session_token  = "TU_SESSION_TOKEN"  # Opcional, para credenciales temporales

# Credenciales de bases de datos (puedes usar los valores por defecto o personalizarlos)
redis_user        = "redis1"
redis_password    = "Sebasalejandro22"
postgres_user     = "postgres1"
postgres_password = "Sebasalejandro22"
postgres_db       = "appdb"
mongo_user        = "mongo1"
mongo_password    = "Sebasalejandro22"

# Configuración de regiones (puedes personalizar según necesites)
primary_region   = "us-east-1"
secondary_region = "us-west-2"

# Configuración de instancias
instance_type    = "t3.micro"
key_name         = "pc1"

# AMIs por región (actualiza con las AMIs correctas para tus regiones)
ami_ids = {
  us-east-1 = "ami-08a6efd148b1f7504"  # AMI para us-east-1
  us-west-2 = "ami-0c55b159cbfafe1f0"  # AMI para us-west-2
}

# Bloques CIDR para las VPCs
vpc_cidr_blocks = {
  us-east-1 = "10.0.0.0/16"
  us-west-2 = "10.1.0.0/16"
}
